[submodule "dictionaries"]
	path = dictionaries
	url = https://anongit.freedesktop.org/git/libreoffice/dictionaries.git
	branch = libreoffice-7-1
[submodule "helpcontent2"]
	path = helpcontent2
	url = https://anongit.freedesktop.org/git/libreoffice/help.git
	branch = libreoffice-7-1
[submodule "translations"]
	path = translations
	url = https://github.com/NDCODF/translations
	branch = 7.1
